.modal-button{
  padding: 18px 20px;
  background-color: var(--background-tertiary);
  position: sticky;
  bottom: 0;
  margin-top: 44px;
}

 .schedule {
  display: block  ;
  margin-inline: auto;
  padding: 12px 24px;
  background-color: var(--content-brand);
  border-radius: 8px;
  transition: background-color 0.2s ease;
  box-shadow: 0 0 40px 0 rgb(146, 130, 250, 30%);
}

.schedule:hover{
  background-color: var(--background-highlights);
}

@media (width >= 80em) {
  .main-body{
    position: relative;
    max-width: 711px;
    margin-inline: auto;
  }
  .modal-button{
    background-color: #14151D;
    padding: 0;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    width: max-content;
    bottom: -30px;
    right: -250px;
  }
}