.content{
  margin-top: 32px;
  margin-inline: 20px;
  display: grid;
  gap: 12px;
  position: relative;
}

.schedule-period{
  background-color: var(--background-tertiary);
  padding-top: 12px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.schedule-period header{
  display: flex;
  gap: 12px;
  padding-bottom: 12px;
  padding-inline: 20px;
}

.schedule-period header b:nth-child(2) {
  margin-right: auto;
}

.schedule-period ul{
  list-style: none;
  border-top: 1px solid rgb(102, 102, 102, 0.5);
  padding-top: 4px;
  margin: 0;
}

.schedule-period ul li{
  margin-inline: 32px;
  padding-top: 28px;
  padding-bottom: 36px;
  position: relative;
}

.schedule-period ul li .when{
  display: flex;
  gap: 12px;
}

.cancel{
  position: absolute;
  right: 0;
  bottom: 12px;
  transition: color 0.2s ease;
}

.cancel:hover{
  color: var(--content-primary);
  text-decoration: underline;
}

.border-bot{
  border-bottom: 1px solid rgb(102, 102, 102, 0.3);
}

@media (width >= 80em) {
  .content{
    max-width: 711px;
    margin-inline: auto;
    margin-bottom: 62px;
  }

  .schedule-period ul{
  padding-top: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

  .schedule-period ul li .cancel {
    position: relative;
    bottom: 0;
  }

  .schedule-period ul li{
    display: flex;
    gap: 16px;
    padding: 16px 12px;
  }

  .schedule-period ul li span{
   margin-right: auto;
  }

  .schedule-period ul li .when{
   margin-right: auto;
  }
}